%button{ onclick: 'acquire_current_position()' }
  Acquire Current Position
%form#positionUpdateForm{ action: '/position', method: :post }
  %input{ type: :hidden, name: "_method", value: :put }
  %input#positionUpdateFormLatitude{ type: :hidden, name: :latitude }
  %input{ type: :hidden, name: :longitude }
