%button{ onclick: 'acquire_current_position()' }
  Acquire Current Position

= form_tag '/position', method: :put do
  %input#positionLatitude{ type: :hidden, name: :latitude }
  %input#positionLongitude{ type: :hidden, name: :longitude }
